<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IMathService" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://127.0.0.1:4444/CalcService" binding="basicHttpBinding"
          bindingConfiguration="" contract="CalcServiceLibrary.ICalcService"
          name="CalcService_basicHttpBinding" />
        <endpoint address="http://127.0.0.1:4446/CalcService" binding="wsHttpBinding"
          bindingConfiguration="" contract="CalcServiceLibrary.ICalcService"
          name="CalcService_wsHttpBinding" />
        <endpoint address="net.tcp://127.0.0.1:4447/CalcService" binding="netTcpBinding"
          bindingConfiguration="" contract="CalcServiceLibrary.ICalcService"
          name="CalcService_netTcpBinding" />
        <endpoint address="http://127.0.0.1:4448/MathService" binding="basicHttpBinding"
          bindingConfiguration="" contract="WCFLibrary.IMathService" name="MathService_basicHttpBinding" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFLibrary/Service1/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMathService"
          contract="MathReference.IMathService" name="BasicHttpBinding_IMathService" />
      </client>
    </system.serviceModel>
</configuration>