@model MagicVilla_Web.Models.Dto.LoginRequestDTO

<form method="POST">
    <div class="container border p-4">
        <h1>Login</h1>
    </div>
    <div class="row text-center">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="Row">
        <div class="col-6 offset-3 pb-2">
            <input type="text" asp-for="UserName" class="form-control" placeholder="Username..." />
        </div>
        <div class="col-6 offset-3 pb-2">
            <input type="password" asp-for="Password" class="form-control" placeholder="Password..." />
        </div>
        <div class="col-6 offset-3 pb-2">
            <button type="submit" class="form-control btn-success" value="Submit">Register</button>
        </div>
    </div>


</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
