@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
   
    var bankData = ViewData["BankData"] as DemoWebApplication.Security.DomainModel;
}

<div class="text-center">
    <h1 class="display-4">Welcome to RTMoney BanK</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="card-footer text-center">
        <b> URL Query Parameter Decode & Encode using IDataProtectionProvider </b> <a asp-page="/Privacy"
         asp-route-id="@bankData.DecodeId" class="btn btn-primary m-1">View Page</a>
    </div>
</div>
