<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="MathService_netTcpBinding">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:6666/MathService" binding="netTcpBinding"
                bindingConfiguration="MathService_netTcpBinding" contract="MathServiceReference.IMathService"
                name="MathService_netTcpBinding">
                <identity>
                    <userPrincipalName value="Partha.Bora@in.marlabs.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>