<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMathService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WASHostSite/MathService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMathService"
                contract="MathServiceReference.IMathService" name="WSDualHttpBinding_IMathService">
                <identity>
                    <servicePrincipalName value="host/MLBSRL1-106854.in.marlabs.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>