<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
      <bindings />
      <client>
        <endpoint  address="http://127.0.0.1:4445/CalcService"
                   binding="basicHttpBinding"
                   contract="CalcServiceLibrary.ICalcService"
                   name="CalcService_basicHttpBinding"
                   bindingConfiguration=""/>

        <endpoint  address="http://127.0.0.1:4446/CalcService"
                  binding="wsHttpBinding"
                  contract="CalcServiceLibrary.ICalcService"
                  name="CalcService_wsHttpBinding"
                  bindingConfiguration=""/>

        <endpoint  address="net.tcp://127.0.0.1:4447/CalcService"
                 binding="netTcpBinding"
                 contract="CalcServiceLibrary.ICalcService"
                 name="CalcService_netTcpBinding"
                 bindingConfiguration=""/>
      </client>
    </system.serviceModel>
</configuration>